.customsShellCss .sapUiGlobalBackgroundColor, .customsShellCss .sapMShellGlobalInnerBackground {
    background-color: #fafafa0c;
}

.sapMLnk {
    font-size:1rem;
}

.sapMLnk:visited {
    text-decoration: none;
    color: #131841;
    
}

.sapMLabel, .text{
    font-size:1.1rem;
  
    color: #132a41 ;
}

.sapMBtnTransparent>.sapMBtnIcon{
    font-size:0.75rem;
}

.instr{
    
    font-weight: bold;
    font-size:1rem;
    color:#4b071b;
}