.customsShellCss .sapUiGlobalBackgroundColor, .customsShellCss .sapMShellGlobalInnerBackground {
    background-color: #fafafa1c;
}

.sapMLnk {
    font-size:1rem;
}

.sapMLnk:visited {
    text-decoration: none;
    color: #131841;
    
}

.sapMLabel{
    font-size:1rem;
    color: #132a41 ;
}

.sapMBtnTransparent>.sapMBtnIcon{
    font-size:0.75rem;
}

#instrPass{
    font-size:1rem;
    color:#30010f;
}